@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body, html {
  font-family: 'DM Sans', sans-serif;
  padding: 5px 5px 5px 5px;
  position: relative;
  overflow-x: hidden;
}

h1 {
  text-align: center;
}

.h2-1 {
  text-align: center;
}

.h2-2 {
  text-align: left;
}

h3 {
  text-align:center;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

nav {
  text-align: center;
  color: black;
  background-color: #DFCE6A;
  padding: 5px 5px 5px 5px;
  margin-bottom: 100px;
  margin-top: 50px;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: black;
  background-color: #FFE699;
  padding: 5px 5px 5px 5px;
}

nav span {
  margin-left: 10px;
  margin-right: 10px;
}

.card {
  width: 30%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.home {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.main {
  display: flex;
}

.about-page {
  display: flex;
}

.about1 {
  flex: 30%;
  padding: 20px;
}

.about2 {
  flex: 70%;
  padding: 20px;
}

.about-img {
  object-fit: contain;
}

.contact{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.contact2 {
  text-align: center;
}

button[class="button"] {
  border: 1px solid black;
  background-color: #FFFFFF;
  text-align: center;
  width: auto;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

a button {
  color: black;
}

button:hover {
  background-color: #DFCE6A;
}

button a:hover {
  color: black;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

.main-image {
  border: 5px solid #DFCE6A;
  margin-bottom: 20px;
}

.contact-container {
  width: 60%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.contact-container a:hover {
  color: #663300;
  font-weight: bold;
}

.contact1, .contact2 {
  flex: 50%;
}



@media only screen and (max-width: 800px) {
  body {
    text-align: justify;
  }
  h1, h2, .h2-1, .h2-2 {
    text-align: center;
  }
  .about-page {
    display: block;
  }
  .about-img {
    height: 500px;
  }
  .card {
    display: block;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}